name: Reusable workflow example

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - name: Print config path
        run: |
          echo "Called workflow with config path: ${{ inputs.config-path }}"
